<a href="https://colab.research.google.com/github/JamesHop31/Final-Exam/blob/main/module_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/Sampoleo,Marc James G./titanic .csv'
df = pd.read_csv(filename)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data = pd.read_csv(filename)

In [7]:
df = pd.read_csv(filename)
df.mean()

<ipython-input-7-0d52345bc807>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [10]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [8]:
survivors_by_sex = data.groupby('Sex')['Survived'].sum()

In [ ]:
survivor_percentage = (data['Survived'].sum() / data['Survived'].count()) * 100
print("Survivor percentage:", survivor_percentage)

Survivor percentage: 38.38383838383838

In [ ]:
print(survivors_by_sex)

Sex
female    233
male      109
Name: Survived, dtype: int64

In [12]:
cheap_ticket_survival_percentage = (df[df['Fare'] < 10]['Survived'].mean()) * 100
print("\nPercentage of passengers who paid less than $10 and survived: {:.2f}%".format(cheap_ticket_survival_percentage))

Percentage of passengers who paid less than $10 and survived: 19.94%

In [13]:
average_age_not_survived = df[df['Survived'] == 0]['Age'].mean()
print("\nAverage age of those who didn't survive: {:.2f}".format(average_age_not_survived))

Average age of those who didn't survive: 30.63

In [14]:
average_age_survived = df[df['Survived'] == 1]['Age'].mean()
print("\nAverage age of those who did survive: {:.2f}".format(average_age_survived))

Average age of those who did survive: 28.34

In [ ]:
survivors_by_gender = df.groupby("Sex")["Survived"].sum()

print(survivors_by_gender)

Sex
female    233
male      109
Name: Survived, dtype: int64